
<!--<p>Find me in app/views/public/customers/edit.html.erb</p>-->

  <h2>顧客情報編集画面</h2>

  <%= form_with model: @customer,url: customers_path(@customer), method: :patch do |f| %>
  <h6>ニックネーム</h6>
  <h6>メールアドレス</h6>
  <h6>生年月日</h6>
  <h6>性別</h6>
  <h6>住んでいる地域</h6>

  <%= f.text_field :nickname, autofocus: true %>
  <%= f.email_field :email, autofocus: true %>
  <%= f.date_select :birthdate, use_month_numbers: true,start_year: 1930, end_year: (Time.now.year - 10), default: Date.new(1989, 1, 1) %>
  <%= f.select :sex, [["",""], ["女性","女性"], ["男性","男性"]], {} %>
  <%= f.text_field :live_area %>
  <%= f.submit "編集内容を保存" %>
  <%= link_to "退会する",  customers_confirm_path %>
  <% end %>