<!--コーディネート一覧-->
  <div class="d-flex flex-wrap">
    <% @favorites.each do |favorite| %>
    <div class="w-25">
      <div>
        <%#= link_to coordinate_path(coordinate.id) do %>
          <%= image_tag @customer.favorites.image.variant( resize: "250x250", gravity: "center", crop: "200x210+0+0" ), class: "m-4", style: "object-fit: contain;" %>
          <%#= image_tag coordinate.get_coordinate_image, style: "height: 200px; width: 200px; object-fit: contain;"%>
        <%# end %>
      </div>
      <div><%= coordinate.tag.tag_name %></div>
      <div>￥<%= coordinate.total_price.to_s(:delimited) %></div>

      <!--いいね機能-->
      <div id="favorite_buttons_<%= coordinate.id %>">
        <%= render "public/favorites/favorite", coordinate: coordinate %>
      </div>
    </div>
    <% end %>
  </div>