<!--flash message有-->
<div class="container">
  <div class="col-md-6 offset-md-3">
    <h4 class="text-center ml-auto m-4">My page</h4>
    <table class="table">
    <tbody class="ml-auto">
      <tr>
        <td style="width: 250px">Nickname</td>
        <td><%= @customer.nickname %></td>
      </tr>
      <tr>
        <td>Email</td>
        <td><%= @customer.email %></td>
      </tr>
      <tr>
        <td>Birthday</td>
        <td><%= @customer.birthdate %></td>
      </tr>
      <tr>
        <td>Gender</td>
        <td><%= @customer.sex %></td>
      </tr>
      <tr>
        <td>Livearea</td>
        <td><%= @customer.live_area %></td>
      </tr>
    </tbody>
    </table>
    <div class="text-right mb-4">
      <%= link_to "Edit mypage", edit_customers_path, class: "btn btn-outline-warning" %>
    </div>
  </div>
</div>





