<div class="coordinate-img col-6 col-sm-3">
  <div>
    <%= link_to coordinate_path(coordinate.id), class: "coordinate_link" do %>
      <%= image_tag coordinate.image.variant( resize: "250x250", gravity: "center", crop: "200x210+0+0" ), class: "img-fluid my-3", style: "object-fit: contain;" %>
    <% end %>
  </div>
  <div><%= coordinate.tag.tag_name %></div>
  <div>￥<%= coordinate.total_price.to_s(:delimited) %></div>

  <% if display_favorite %>
    <!--いいね機能-->
    <div id="favorite_buttons_<%= coordinate.id %>">
      <%= render "public/favorites/favorite", coordinate: coordinate %>
    </div>
  <% end %>

  <!--ブックマーク-->
  <div id="bookmark_buttons_<%= coordinate.id %>" class="mb-4">
    <%= render "public/bookmarks/bookmark", coordinate: coordinate %>
  </div>
</div>