<div class="container">
  <h1 class="my-4 col-sm-3" style="font-size: 25px; background-color: #f2f2f2">Coordinate Lists</h1>

<!--検索機能-->
  <%= form_with url: coordinates_path, method: :get, local: true do |f| %>
   <div class="input-group w-25">
      <%= f.text_field :keyword, value: params[:keyword], class: "form-control" %>
      <%= f.submit "search", class: "btn btn-outline-secondary btn-sm mx-3" %>
    <% end %>
  </div>

<!--コーディネート一覧-->
  <div class="d-flex flex-wrap">
    <% @coordinates.each do |coordinate| %>
    <div class="w-25">
      <div>
        <%= link_to coordinate_path(coordinate.id) do %>
          <%= image_tag coordinate.image.variant( resize: "250x250", gravity: "center", crop: "200x210+0+0" ), class: "m-4", style: "object-fit: contain;" %>
          <%#= image_tag coordinate.get_coordinate_image, style: "height: 200px; width: 200px; object-fit: contain;"%>
        <% end %>
      </div>
      <div><%= coordinate.tag.tag_name %></div>
      <div>￥<%= coordinate.total_price.to_s(:delimited) %></div>

      <!--いいね機能-->
      <div id="favorite_buttons_<%= coordinate.id %>">
        <%= render "public/favorites/favorite", coordinate: coordinate %>
      </div>

      <!--お気に入り機能-->
      <div>
        <%= render "public/bookmarks/bookmark", coordinate: coordinate %>
      </div>
    </div>
    <% end %>
  </div>
<!--ページネーション-->
  <%= paginate @coordinates %>
</div>


