<div class="container">
  <h1 class="d-inline-block px-3 mb-4 mt-4">Coordinate Lists</h1>

  <!--検索機能-->
  <%= form_with url: coordinates_path, method: :get, local: true do |f| %>
  <div class="input-group col-sm-3 col-md-6">
    <%= f.text_field :keyword, value: params[:keyword], class: "form-control" %>
    <%= f.submit "Search", class: "btn btn-outline-secondary btn-sm mx-3" %>
  <% end %>
  </div>

  <!--コーディネート一覧-->
  <div class="d-flex flex-wrap">
    <%= render partial: "content", collection: @coordinates, as: :coordinate, locals: { display_favorite: true } %>
  
  </div>
  <!--ページネーション-->
  <%= paginate @coordinates %>
</div>
