<!--<p>Find me in app/views/public/coordinates/show.html.erb</p>-->
<div class="container">
<h1 class="m-4 col-3" style="font-size: 25px; background-color: ghostwhite;">Coordinate detail</h1>
  <div class="row ml-auto">
    <div class="col-3 offset-2">
      <div><%= image_tag @coordinate.get_coordinate_image(300,300) %></div>
    </div>
    <div class="col-6 offset-1">

      <div class="mt-3 ml-3" style="font-size: 20px;">
        total price :
       ￥<%= @coordinate.total_price %>
      </div>

      <div class="mt-3 ml-3" style="font-size: 20px;">
        tag name :
        <%= @coordinate.tag.tag_name %>
      </div>

      <div class="mt-3 ml-3" style="font-size: 20px;">
        favorites :
        ♡<%= @coordinate.favorites.count %>
      </div>
      <div class="mt-3 ml-3" style="font-size: 20px;">
        comments :
        <%= @coordinate.comments.count %>
      </div>
      <div class="mt-3 ml-3" style="font-size: 20px;">
        description :
        <p><%= @coordinate.coordinates_description %></p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h2 style="font-size: 22px;">Comments</h2>

  <!--コメントテンプレート collection使用するとeach文使わなくてok(動作も早くなる)-->
  <ul>
    <%= render partial: "public/comments/index", collection: @coordinate.comments, as: :comment %>
  </ul>
  <!--コメント投稿フォームテンプレート-->
  <%= render "public/comments/form", coordinate: @coordinate, comment: @comment %>
</div>