<div class="mb-4" style="font-size: 20px; list-style:none;">
  Comment counts: <%= coordinate.comments.count %>
</div>

<% coordinate.comments.each do |comment| %>
<li class="row">
  <div class="ml-4">
    <div style="font-size: 19px;"><%= comment.customer.nickname %></div>
    <div style="font-size: 15px;"><%= l comment.created_at %></div>
    <p style="font-size: 17px;"><%= comment.content %></p>
    <div>
      <% if comment.customer == current_customer %>
        <%= link_to "Destroy", coordinate_comment_path(comment.coordinate, comment),method: :delete, remote: true, data: {confirm: "本当に削除しますか？"}, class: "btn btn-danger pull-right btn-sm" %>
      <% end %>
    </div>
  </div>
</li>
<% end %>

