
<div class="container">
  <h1 class="col-3 offset-md-3 ml-1 my-4" style="font-size: 25px;">Customer Edit</h1>
  <%= form_with model: @customer, url: admin_customer_path(@customer), method: :patch do |f| %>

  <div class="row">
    <div class="col-md-3 offset-md-3">
      <div class="mb-1"><%= f.label :"customer_ID" %></div>
      <div class="mb-1"><%= f.label :"nickname" %></div>
      <div class="mb-1"><%= f.label :"email" %></div>
      <div class="mb-1"><%= f.label :"birthday" %></div>
      <div class="mb-1"><%= f.label :"gender" %></div>
      <div class="mb-1"><%= f.label :"live_area" %></div>
      <div class="mb-1"><%= f.label :"status" %></div>
    </div>
    <div class="col-6">
      <div class="mb-2"><%= @customer.id %></div>
      <div class="mb-2"><%= f.text_field :nickname, autofocus: true, autocomplete: "nickname", class:"w-auto" %></div>
      <div class="mb-2"><%= f.email_field :email, autofocus: true, autocomplete: "email" %></div>
      <div class="mb-2"><%= f.date_select :birthdate, use_month_numbers: true,start_year: 1930, end_year: (Time.now.year - 10), default: Date.new(1989, 1, 1) %></div>
      <div class="mb-2"><%= f.select :sex, [["",""], ["女性","女性"], ["男性","男性"]], {} %></div>
      <div class="mb-2"><%= f.text_field :live_area %></div>
      <div class="my-3">
        <%= f.radio_button :is_deleted, "false" %>
        <%= f.label :is_deleted, "有効" %>
        <%= f.radio_button :is_deleted, "true" %>
        <%= f.label :is_deleted, "退会" %>
      </div>
      <div><%= f.submit "Sign up", class:"btn btn-sm", style:"width: 250px; background-color: #F3F1EA;" %></div>
    </div>
  </div>
  <% end %>
</div>



