<div class="container">
  <h1 class="d-inline-block m-4" style="font-size: 25px; background-color: #f2f2f2;">Customers</h1>
    <table class="table table-hover ml-auto mr-auto">
    <thead class="border-bottom border-top border-secondary" style="background-color: #f2f2f2;">
      <tr class="d-none d-sm-table-row">
        <th>Customer ID</th>
        <th>Customer name</th>
        <th>Email</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
    <% @customers.each do |customer| %>
    <tr>
      <td><%= customer.id %></td>
      <td><%= customer.nickname %></td>
      <td><%= customer.email %></td>
      <td>
        <% if customer.is_deleted %>
          <div><%= link_to "退会", edit_admin_customer_path(customer.id), class: "text-danger" %></div>
        <% else %>
          <div><%= link_to "有効", edit_admin_customer_path(customer.id), class: "text-success" %></div>
        <% end %>
      </td>
    </tr>
    <% end %>
    </tbody>
  </table>
  <%= paginate @customers %>
</div>


