<div class="container">
  <h1 class="d-inline-block m-4" style="font-size: 25px; background-color: #f2f2f2;">Editing Tag</h1>
  
  <!-- テンプレートerror massage-->
  <div id="error-massage">
    <%= render "layouts/error_massages", model: @tag %>
  </div>

  <div class="ml-5">
  <%= form_with model: @tag, url:admin_tag_path(@tag.id), method: :patch do |f| %>
    <div class="input-group">
      <%= f.label :tag_name, class: "mt-2 mr-3" %>
      <%= f.text_field :tag_name, class: "w-20" %>
      <%= f.submit "up date", class: "text-dark bg-light ml-3", style: "background-color: #F3F1EA" %>
    </div>
  </div>
  <% end %>
</div>
