<div class="container">
  <h1 class="d-inline-block m-4" style="font-size: 25px; background-color: #f2f2f2;">Tags,lists・post</h1>

<!-- テンプレートerror massage-->
  <div id="error-massage">
    <%= render "layouts/error_massages", model: @tag %>
  </div>

  <div class="ml-5">
    <%= form_with model: @tag, url:admin_tags_path, local:true do |f| %>
    <div class="input-group mt-3">
      <%= f.label :tag_name, class: "mr-3" %>
      <%= f.text_field :tag_name, class: "w-20" %>
      <%= f.submit "New post", class: "text-dark bg-warning ml-3", style: "background-color: #F3F1EA" %>
    </div>
    <% end %>
    <table class="table mt-5 col-md-4">
      <thead style="background-color: #f2f2f2;">
        <tr>
          <th>Tags</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% @tags.each do |tag| %>
          <td><%= tag.tag_name %></td>
          <td><%= link_to "Edit", edit_admin_tag_path(tag.id), class: "btn btn-outline-secondary btn-sm text-dark", style: "background-color: #F3F1EA" %></td>
        </tr>
          <% end %>
      </tbody>
    </table>
  </div>
</div>

