
<%= form_with model: @customer,url: customer_registration_path do |f| %>
<div class="container">
<h1 class="m-4 col-3" style="font-size: 25px; background-color: #f2f2f2;">Sign up</h1><br>
<!--errormessage-->
  <%= render "public/shared/error_messages", resource: resource %>
  <div class="row">
    <div class="col-md-3 offset-md-3">
      <h6 class="mt-2"><%= f.label :"nickname" %></h6>
      <h6 class="mt-2"><%= f.label :"email" %></h6>
      <h6 class="mt-2"><%= f.label :"birthday" %></h6>
      <h6 class="mt-2"><%= f.label :"password" %></h6>
      <h6 class="mt-2"><%= f.label :"password_confirmation" %></h6>
      <h6 class="mt-2"><%= f.label :"gender" %></h6>
      <h6 class="mt-2"><%= f.label :"live_area" %></h6>
    </div>

    <div class="col-md-3">
      <div class="field mb-2">
        <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname" %>
      </div>
      <div class="field mb-2">
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
      <div class="field mb-2">
        <%= f.date_select :birthdate, use_month_numbers: true,start_year: 1930, end_year: (Time.now.year - 10), default: Date.new(1989, 1, 1) %>
      </div>
      <div class="field mb-2">
        <% if @minimum_password_length %>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field mb-2">
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
      <div class="field mb-2">
        <%= f.select :sex, [ ["女性","女性"], ["男性","男性"]], { include_blank: "選択してください"} %>
      </div>
      <div class="field mb-2">
        <%= f.text_field :live_area %>
      </div>
      <div class="actions mb-5">
        <%= f.submit "Sign up" %>
      </div>
    </div>
  </div>
</div>
<% end %>


