
<%= form_with model: @customer,url: customer_registration_path do |f| %>
<div class="container">
  <!--エラーメッセージ テンプレート-->
  <%= render "public/shared/error_messages", resource: resource %>

  <div class="row">
    <div class="col-12 col-md-6 mx-auto">
      <h1 class="d-inline-block mt-4 mb-4 px-3" style="font-size: 25px; background-color: #f2f2f2;">Sign up</h1><br>
      <div class="field mb-2">
        <%= f.label :nickname %></br>
        <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname", class: "w-100" %>
      </div>
      <div class="field mb-2">
        <%= f.label :email %><br>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-100" %>
      </div>
      <div class="field mb-2">
        <%= f.label :birthday %><br>
        <%= f.date_select :birthdate, use_month_numbers: true,start_year: 1930, end_year: (Time.now.year - 10), default: Date.new(1989, 1, 1) %>
      </div>
      <div class="field mb-2">
        <% if @minimum_password_length %>
        <% end %>
        <%= f.label :password %><br>
        <%= f.password_field :password, autocomplete: "new-password", class: "w-100" %>
      </div>
      <div class="field mb-2">
        <%= f.label :password_confirmation %><br>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "w-100" %>
      </div>
      <div class="field mb-2">
        <%= f.label :gender %><br>
        <%= f.select :sex, [ ["女性","女性"], ["男性","男性"]], { include_blank: "選択してください"} %>
      </div>
      <div class="field mb-2">
        <%= f.label :live_area %><br>
        <%= f.text_field :live_area, class: "w-100" %>
      </div>
      <div class="actions mb-5">
        <%= f.submit "Sign up" %>
      </div>
    </div>
  </div>
</div>
<% end %>


