<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h1 class="d-inline-block my-4" style="font-size: 25px; background-color: #f2f2f2;">Editing coordinate</h1>

      <!-- errormassage-->
      <div id="error-massage">
        <%= render "layouts/error_massages", model: @coordinate %>
      </div>

      <%= form_with model: @coordinate, url:admin_coordinate_path(@coordinate.id), method: :patch do |f| %>
        <div class="form-group">
          <%= f.label :tag_name %>
          <%= f.select :tag_id, options_from_collection_for_select(Tag.all, :id, :tag_name), {}, {class: "form-control"} %>
        </div>
        <div class="form-group">
          <%= f.label :total_price %>
          <%= f.text_field :total_price, class: "form-control" %>
        </div>
        <div class="input-group mb-3">
          <%= f.label :image, class: "custom-file-label" %>
          <%= f.file_field :image, accept: "image/*", class: "custom-file-input" %>
        </div>
        <div class="form-group">
          <%= f.label :coordinates_description %>
          <%= f.text_area :coordinates_description, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.submit "up date", class: "text-dark bg-light" %>
        </div>
      <% end %>
    </div>
  </div>
</div>


