<h1>Admin::Coordinates#index</h1>
<p>Find me in app/views/admin/coordinates/index.html.erb</p>
<h2>コーディネート一覧</h2>
<table>
  <thead>
    <tr>
    <th></th>
    <th>コーディネートID</th>
    <th>タグ名</th>
    <th>合計金額</th>
    <th>いいね数</th>
    </tr>
  </thead>
  <tbody>
    <!--<% @coordinates.each do |coordinate| %>-->
    <tr>
      <td><%= image_tag coordinate.get_coordinate_image(80,80) %></td>
      <td><%= coordinate.id %></td>
      <td><%= coordinate.tag.tag_name %></td>
      <td><%= coordinate.total_price %></td>
      <td><%= coordinate.favorite_id %></td> <!--まだない-->
    </tr>
    <% end %>
  </tbody>
</table>