
<div class="container">
  <h1 class="d-inline-block m-4" style="font-size: 25px; background-color: #f2f2f2;">Coordinates</h1>
  <div class="mb-4" style="font-size: 20px;">
    New post coordinate <%= link_to "click here", new_admin_coordinate_path, class: "new-post", style: "font-size: 22px; color: #6c757d"%>
  </div>
  <table class="table table-hover ml-auto mr-auto">
    <thead class="border-bottom border-top border-secondary" style="background-color: #f2f2f2;">
      <tr class="d-sm-table-row">
        <th></th>
        <th>Coordinate ID</th>
        <th>Tag</th>
        <th>Price</th>
        <th>Favorites</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @coordinates.each do |coordinate| %>
      <tr>
        <td>
          <%= link_to admin_coordinate_path(coordinate.id) do %>
            <%= image_tag coordinate.get_coordinate_image, style: "height: 100px; width: 100px; object-fit: contain;" %>
          <% end %></br>
          Click here<i class="fas fa-long-arrow-alt-up"></i></br>
          for customers comment
        </td>
        <td><%= coordinate.id %></td>
        <td><%= coordinate.tag.tag_name %></td>
        <td>￥<%= coordinate.total_price.to_s(:delimited) %></td>
        <td><i class="fas fa-heart"></i><%= coordinate.favorites.count %></td>
        <td>
          <%= link_to "Edit", edit_admin_coordinate_path(coordinate.id), class: "btn btn-sm btn-outline-secondary text-dark mb-2" %></br>
        </td>
        <td>
          <%= link_to "Destroy", admin_coordinate_path(coordinate.id), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-sm btn-danger" %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @coordinates %>
</div>
