<h1>Admin::Coordinates#new 画像投稿用フォーム</h1>
<p>Find me in app/views/admin/coordinates/new.html.erb</p>


<h2>画像投稿フォーム</h2>
  <%= form_with model: @coordinate, url:admin_coordinates_path do |f| %>
    <h3>画像</h3>
    <%= f.file_field :image, accept: "image/*" %>

    <h3>タグ名</h3>
    <%= f.select :tag_name_id, options_from_collection_for_select(Tag.all, :id, :tag_name), {} %> <!--プルダウン？-->

    <h3>合計金額</h3>
    <%= f.text_area :total_price %>

    <h3>コーディネート説明</h3>
    <%= f.text_area :coordinates_description %>

    <%= f.submit 'コーディネート投稿' %>
  <% end %>