<!DOCTYPE html>
<html>
  <head>
    <title>WindowShopping</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="border-danger" style="border-bottom: 3px solid; width: 100%;">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand text-dark font-weight-bold" href="/"><span>Window shopping</span></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <% if admin_signed_in? %>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto list-unstyled">
              <li>
              <%= link_to admin_path, class: 'm-4 nav-link text-dark' do %>
                Customers
              <% end %>
              </li>
              <li>
                <%= link_to admin_coordinates_path, class: 'm-4 nav-link text-dark' do %>
                  Cordinateslists
                <% end %>
              </li>
              <li>
                <%= link_to admin_tags_path, class: 'm-4 nav-link text-dark' do %>
                  Taglists
                <% end %>
              </li>
              <li>
                <%= link_to admin_coordinates_rank_path, class: 'm-4 nav-link text-dark' do %>
                  Ranking
                <% end %>
              </li>
              <li>
                <%= link_to destroy_admin_session_path, method: :delete, class: 'm-4 nav-link text-dark' do %>
                  Logout
                <% end %>
              </li>
            </ul>
          </div>
          <% elsif customer_signed_in? %>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto list-unstyled">
              <li>
              <%= link_to customers_path, class: 'm-4 nav-link text-dark' do %>
                Mypage
              <% end %>
              </li>
              <li>
                <%= link_to coordinates_path, class: 'm-4 nav-link text-dark' do %>
                  Coordinatelists
                <% end %>
              </li>
              <li>
                <%= link_to bookmarks_path, class: 'm-4 nav-link text-dark' do %>
                  Bookmarks
                <% end %>
              </li>
              <li>
                <%= link_to destroy_customer_session_path, method: :delete,class: 'm-4 nav-link text-dark' do %>
                  Logout
                <% end %>
              </li>
            </ul>
          </div>
          <% else %>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto list-unstyled">
              <li>
                <%= link_to coordinates_path,class: 'm-4 nav-link text-dark' do %>
                  Coordinatelists
                <% end %>
              </li>
              <li>
                <%= link_to new_customer_registration_path,class: 'm-4 nav-link text-dark' do %>
                  Signup
                <% end %>
              </li>
              <li>
                <%= link_to new_customer_session_path,class: 'm-4 nav-link text-dark' do %>
                  Login
                <% end %>
              </li>
            </ul>
          </div>
          <% end %>
        </div>
      </nav>
    </header>

    <!--テンプレートflash massage-->
    <main style="min-height: 500px">
      <%= render "layouts/flash" %>
      <%= yield %>
    </main>

    <footer class="border-danger mt-5" style="border-top: 10px solid;">
      <div class="row justify-content-center mt-4" style="font-size: 20px;">
        ©2023  Windowshopping
      </div>
    </footer>
  </body>
</html>
